/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-dialog {
    width: 100%;
    max-width: 600px;
}

.modal-content {
    width: 100%;
    height: 100%;
}